[Desktop Entry]
Type=Application
Name=HolyScreen
Comment=Motor de apresentação para igrejas
Exec=holyscreen
Icon=holyscreen
Terminal=false
Categories=AudioVideo;Presentation;
StartupNotify=true
